.project
.settings
*.build
*.mdb
*.mdp
*.pidb
*.dll.build
*.dll
*.pdb
*.cache
*.obj
*.pch
*.csproj
*.vcproj
*.user
*.aps
*.ncb
*.rc
*.suo
.svn/
bin/
obj/
Release/
Debug/
*.csproj.user
Thumbs.db
Thumbs.db
TAGS
*~
