body {
 font-family: Veranda,Arial,Helvetica,sans-serif;
 font-size: 12px;
 background: #4A5F6D;
 color: #EEEAD6;
 padding: 0px;
 margin: 0px;
}
.footer {
 font-family: Veranda,Arial,Helvetica,sans-serif;
 font-size: 10px;
}
td {
 font-family: Veranda,Arial,Helvetica,sans-serif;
 font-size: 12px;
 padding: 4px;
 margin: 4px;
}
blockquote {
 font-family: Veranda,Arial,Helvetica,sans-serif;
 font-style: italic;
 font-size: 12px;
}
pre {
 padding: 5px;
 background-color: #8080B0;
 color: #000000;
 margin-left: 20px;
 font-size: 11px;
}
:link {
 color: #ffffff;
}
:visited {
 color: #d0d0d0;
}
.LGSectionHeader {
}
#LGStatistics div {
    margin-left: 20px;
    background: #3A4F5D;
}
#LGStatistics h1 {
    background: #5A6F7D;
    font-size: 12px;
}

table.LGStatsTable {
}
table.LGStatsTable td {
    border: 1px solid;
    width: 15px;
    text-align: right;
}
table.LGOgreStatsTable {
    text-align: right;
}
th.LGOgreStats-description-header {
    width: 60%;
}
th.LGOgreStats-value-header {
    width: 10%;
}
table.LGStatsTable td.LGOgreStats-description-class {
    text-align: left;
}

table.LGDefaultParametersTable {
}
table.LGDefaultParametersTable td {
    border: 1px solid;
}
#LGDefaultParameters-table td.LGDefaultParameters-value-class {
    text-align: left;
}
#LGDefaultParameters-table td.LGDefaultParameters-description-class {
    text-align: left;
    width: 400px;
}
