body {
 font-family: Veranda,Arial,Helvetica,sans-serif;
 font-size: 12px;
 background: #4A5F6D;
 color: #EEEAD6;
 padding: 0px;
 margin: 0px;
}
.footer {
 font-family: Veranda,Arial,Helvetica,sans-serif;
 font-size: 10px;
}
td {
 font-family: Veranda,Arial,Helvetica,sans-serif;
 font-size: 12px;
 padding: 4px;
 margin: 4px;
}
blockquote {
 font-family: Veranda,Arial,Helvetica,sans-serif;
 font-style: italic;
 font-size: 12px;
}
pre {
 padding: 5px;
 background-color: #8080B0;
 color: #000000;
 margin-left: 20px;
 font-size: 11px;
}
:link {
 color: #ffffff;
}
:visited {
 color: #d0d0d0;
}
.LGSectionHeader {
}
/* Statistics ===================================== */
#LGStatistics div {
    margin-left: 20px;
    background: #3A4F5D;
}
#LGStatistics h1 {
    background: #5A6F7D;
    font-size: 12px;
}

table.LGCommStats-table-class td {
    text-align: right;
    padding: 0px 0px 0px 5px;
    margin: 0px 0px 0px 0px;
}
th.LGCommStats-value-header {
    width: 10%;
}
th.LGCommStats-description-header {
    width: 45%;
}
table.LGCommStats-table-class td.LGCommStats-description-class {
    text-align: left;
}

table.LGOgreStats-table-class td {
    text-align: right;
    padding: 0px 0px 0px 5px;
    margin: 0px 0px 0px 0px;
}
th.LGOgreStats-value-header {
    width: 10%;
}
th.LGOgreStats-description-header {
    width: 45%;
}
th.LGOgreStats-Display-header {
    width: 45%;
}
table.LGOgreStats-table-class td.LGOgreStats-description-class {
    text-align: left;
}
table.LGOgreStats-table-class td.LGOgreStats-Display-class {
    text-align: left;
}

table.LGQueueStats-table-class td {
    border: 1px solid;
    text-align: right;
}

table.LGRendererStats-table-class td {
    border: 1px solid;
    text-align: right;
}

/* Default Parameters ========================= */
table.LGDefaultParametersTable {
}
table.LGDefaultParametersTable td {
    border: 1px solid;
}
#LGDefaultParameters-table td.LGDefaultParameters-value-class {
    text-align: left;
}
#LGDefaultParameters-table td.LGDefaultParameters-description-class {
    text-align: left;
    width: 400px;
}
/* Chat ======================================= */
#LGChatText {
    /* width: 500px; */
    /* height: 200px; */
    background: #668396;
    overflow: auto;
}
#LGChatText .LGChatLineTime {
    color: #c0c0c0
}
#LGChatText .LGChatLineFrom {
    color: #f09090;
}
#LGChatText .LGChatLineExpression {
    color: yellow;
}
#LGChatText .ChatTypeStatusBlue {
    color: #303090;
}
#LGChatText .ChatTypeStatusDarkBlue {
    color: #0000FF;
}
#LGChatText .ChatTypeLindenChat {
    color: yellow;
}
#LGChatText .ChatTypeObjectChat {
    color: yellow;
}
#LGChatText .ChatTypeAlert {
    color: red;
}
#LGChatText .ChatTypeError {
    color: red;
}
#LGChatInput {
    background: #668396;
}
